@import 'src/assets/scss/variables';

.forest {
  width: 100%;
  height: 3000px;
  position: relative;

  .destination {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('src/assets/img/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .foliage {
    position: fixed;
    width: 500px;
    height: 500px;
    background-image: url('src/assets/img/foliage.png');
    background-repeat: no-repeat;
    z-index: 1;

    @media (max-width: $breakpoint) {
      scale: 0.5;
    }
  }

  .foliage-1 {
    top: calc(50% - 125px);
    left: -250px;
    transform: rotate(90deg);
  }

  .foliage-2 {
    top: -250px;
    left: calc(50% - 375px);
    transform: rotate(170deg);
  }

  .foliage-3 {
    top: -250px;
    right: calc(40% - 375px);
    transform: rotate(210deg);
  }

  .foliage-4 {
    top: calc(50% - 375px);
    right: -250px;
    transform: rotate(270deg);
  }
}
